Repository serlo/serlo.org-legacy, pull requests merged in 2019-12, with the labels that each got.

#107 Improvements for e2e testing
  jest.config-e2e.js
  jest.setup-e2e.js
  package.json
  packages/public/server/__tests-e2e__/entities/grouped-exercise.ts
  packages/public/server/__tests-e2e__/entities/video.ts
  packages/public/server/__tests-e2e__/home.ts
Labels: server

#128 server: Remove legacy HTML attributes (fixes #108)
  packages/public/server/src/module/Ui/templates/entity/page/course.twig
  packages/public/server/src/module/Ui/templates/entity/view/article.twig
  packages/public/server/src/module/Ui/templates/entity/view/course-page.twig
  packages/public/server/src/module/Ui/templates/entity/view/event.twig
  packages/public/server/src/module/Ui/templates/entity/view/partials/input-challenge.twig
  packages/public/server/src/module/Ui/templates/entity/view/partials/math-puzzle.twig
  packages/public/server/src/module/Ui/templates/entity/view/partials/multiple-choice-answer.twig
  packages/public/server/src/module/Ui/templates/entity/view/partials/single-choice-answer.twig
  packages/public/server/src/module/Ui/templates/entity/view/partials/text-exercise.twig
  packages/public/server/src/module/Ui/templates/entity/view/text-exercise-group.twig
  packages/public/server/src/module/Ui/templates/entity/view/text-hint.twig
  packages/public/server/src/module/Ui/templates/entity/view/text-solution.twig
  packages/public/server/src/module/Ui/templates/page/partials/head.twig
  packages/public/server/src/module/Ui/templates/page/revision/view.twig
Labels: server

#133 fixing footer styles
  packages/public/frontend/src/footer/about.tsx
  packages/public/frontend/src/footer/nav.tsx
Labels: frontend

#132 Hotfixes for frontend
  docker-compose.yml
  packages/public/frontend/docker/Dockerfile
  packages/public/frontend/docker/nginx.conf
  packages/public/frontend/next.config.js
  packages/public/frontend/package.json
  packages/public/frontend/pages/__comments.tsx.tmp
  packages/public/frontend/pages/__footer.tsx
  packages/public/frontend/pages/_document.js
  packages/public/frontend/patch/next/dist/client/index.js
  packages/public/frontend/patch/next/dist/client/index.tsx
  packages/public/frontend/server.js
  packages/public/frontend/serverless/lib.js
  packages/public/frontend/serverless/serverless.development.js
  packages/public/frontend/serverless/serverless.production.js
  packages/public/frontend/src/provider.component.tsx
Labels: frontend

#143 Add donation banner for MFNF
  packages/public/client/package.json
  packages/public/client/src/donation-banner-mfnf/index.ts
  packages/public/client/src/donation-banner-mfnf/styles/donation-banner-mfnf.scss
  packages/public/client/webpack.base.config.js
Labels: client

#146 server: add database migrations
  docker-compose.yml
  package.json
  packages/public/server/docker/migrate/Dockerfile
  packages/public/server/migrations/20191209042731_init.down.sql
  packages/public/server/migrations/20191209042731_init.up.sql
  packages/public/server/package.json
  packages/public/server/scripts/deploy.ts
Labels: server

#150 Remove unused code of donation banner for MFNF
  packages/public/client/package.json
  packages/public/client/src/donation-banner-mfnf/index.ts
  packages/public/client/src/donation-banner-mfnf/styles/donation-banner-mfnf.scss
  packages/public/client/webpack.base.config.js
Labels: client

#153 Smaller main image on donation page
  packages/public/server/src/module/Ui/templates/static/spenden.phtml
Labels: server

#151 Implement /entity/unrevised (fixes #137)
  packages/public/client/src/main/styles/_content.scss
  packages/public/server/package.json
  packages/public/server/src/module/Entity/config/route.config.php
  packages/public/server/src/module/Entity/src/Entity/Controller/EntityController.php
  packages/public/server/src/module/Entity/src/Entity/Entity/Entity.php
  packages/public/server/src/module/Entity/src/Entity/Entity/EntityInterface.php
  packages/public/server/src/module/Subject/config/module.config.php
  packages/public/server/src/module/Subject/src/Subject/Controller/EntityController.php
  packages/public/server/src/module/Subject/src/Subject/Factory/SubjectManagerFactory.php
  packages/public/server/src/module/Subject/src/Subject/Manager/SubjectManager.php
  packages/public/server/src/module/Subject/src/Subject/Manager/SubjectManagerInterface.php
  packages/public/server/src/module/Taxonomy/src/Taxonomy/Entity/TaxonomyTerm.php
  packages/public/server/src/module/Taxonomy/src/Taxonomy/Entity/TaxonomyTermInterface.php
  packages/public/server/src/module/Ui/templates/entity/unrevised.twig
  packages/public/server/src/module/Ui/templates/subject/entity/unrevised.phtml
Labels: client, server

#136 hot module reloading for frontend server
  packages/public/frontend/package.json
  packages/public/frontend/pages/_document.js
  packages/public/frontend/patch/next/dist/client/index.js
  packages/public/frontend/patch/next/dist/client/index.tsx
Labels: frontend, private, server

#157 Fix style of headings
  packages/public/client/src/main/styles/_content.scss
  packages/public/server/src/module/Ui/templates/entity/unrevised.twig
Labels: client, server

#158 server: Reverse order of revisions for static pages
  packages/public/server/src/module/Page/src/Page/Controller/IndexController.php
Labels: server

#163 hotfix: show unrevised revisions of subentities
  packages/public/server/package.json
  packages/public/server/src/module/Entity/src/Entity/Entity/Entity.php
Labels: server

#156 add button to switch to older revisions
  packages/private/edtr-io/package.json
  packages/private/edtr-io/src/deserialize.ts
  packages/private/edtr-io/src/plugins/types/applet.tsx
  packages/private/edtr-io/src/plugins/types/article.tsx
  packages/private/edtr-io/src/plugins/types/common.tsx
  packages/private/edtr-io/src/plugins/types/course-page.tsx
  packages/private/edtr-io/src/plugins/types/course.tsx
  packages/private/edtr-io/src/plugins/types/event.tsx
  packages/private/edtr-io/src/plugins/types/helpers/settings.tsx
  packages/private/edtr-io/src/plugins/types/math-puzzle.tsx
  packages/private/edtr-io/src/plugins/types/text-exercise-group.tsx
  packages/private/edtr-io/src/plugins/types/text-exercise.tsx
  packages/private/edtr-io/src/plugins/types/text-hint.tsx
  packages/private/edtr-io/src/plugins/types/text-solution.tsx
  packages/private/edtr-io/src/plugins/types/video.tsx
  packages/public/server/src/module/Entity/config/route.config.php
  packages/public/server/src/module/Entity/src/Entity/Controller/RepositoryController.php
  packages/public/server/src/module/Ui/src/Ui/View/Helper/Timeago.php
Labels: private, server

#170 Added two topics in other language-versions, #160
  package.json
  packages/public/server/package.json
  packages/public/server/src/module/Subject/config/instances.config.php
Labels: server
