Repository serlo/serlo.org-legacy, pull requests merged in 2020-10, with the labels that each got.

#505 Remove __tests-e2e__/entities/staticPage.ts
  packages/public/server/__tests-e2e__/entities/staticPage.ts
Labels: server

#491 server.api: Ignore pages without uri or route
  packages/public/server/src/module/Api/src/Controller/NavigationApiController.php
  packages/public/server/src/module/Api/test/Controller/NavigationApiControllerTest.php
Labels: server

#509 Update dependencies
  docker-compose.yml
  jest.config-ssr.js
  jest.config.js
  package.json
  packages/private/dev-tools/package.json
  packages/private/editor-helpers/package.json
  packages/private/edtr-io-storybook/package.json
  packages/private/edtr-io/package.json
  packages/private/edtr-io/src/index.tsx
  packages/private/i18n/package.json
  packages/private/legacy-editor-to-editor/package.json
  packages/private/markdown/package.json
  packages/private/mathjax/package.json
  packages/public/client/package.json
  packages/public/editor-renderer/package.json
  packages/public/editor-renderer/src/index.ts
  packages/public/legacy-editor-renderer/package.json
  packages/public/notifications-job/package.json
  packages/public/server/composer.lock
  packages/public/server/docker/migrate/package.json
  packages/public/server/docker/migrate/yarn.lock
  packages/public/server/jest.config.js
  packages/public/server/migrations/src/20200520065142-remove-splish-states.js
  packages/public/server/package.json
  packages/public/server/src/config/autoload/global.php
  packages/public/static-assets/package.json
  yarn.lock
Labels: client, editor-renderer, hacktoberfest-accepted, legacy-editor-renderer, notifications-job, private, server, static-assets

#502 server-api: Add alias support for /user/profile/:username
  packages/public/server/__tests-e2e__/api.ts
  packages/public/server/src/module/Api/src/ApiManager.php
  packages/public/server/src/module/Api/src/Controller/ApiController.php
  packages/public/server/src/module/Api/src/Factory/ApiControllerFactory.php
Labels: hacktoberfest-accepted, server

#512 server-api-alias: Use regex to match username
  packages/public/server/src/module/Api/src/Controller/ApiController.php
  packages/public/server/src/module/User/src/Manager/UserManagerInterface.php
  packages/public/server/src/module/User/test/Stub/Manager/UserManagerStub.php
Labels: hacktoberfest-accepted, refactoring, server

#494 Improvements for the input challenge
  packages/public/client/__tests__/input-challenge.js
  packages/public/client/package.json
  packages/public/client/src/frontend/modules/input_challenge.js
Labels: client, hacktoberfest-accepted

#504 server-api-uuid: Add field "revisionIds"
  packages/public/server/src/module/Api/src/ApiManager.php
Labels: hacktoberfest-accepted, server

#513 server-api: Add /api/subscriptions/:userId
  packages/public/server/__tests-e2e__/api.ts
  packages/public/server/src/module/Api/config/module.config.php
  packages/public/server/src/module/Api/src/Controller/ApiController.php
  packages/public/server/src/module/Api/src/Factory/ApiControllerFactory.php
Labels: enhancement, hacktoberfest-accepted, server

#515 Update dependencies
  packages/public/client/package.json
  packages/public/editor-renderer/package.json
  packages/public/server/package.json
  yarn.lock
Labels: hacktoberfest-accepted

#517 client: remove google analytics
  packages/public/client/package.json
  packages/public/client/src/frontend/index.js
  packages/public/client/src/frontend/modules/analytics.ts
  packages/public/client/src/frontend/modules/consent-banner.ts
  packages/public/client/src/frontend/modules/tracking.js
  packages/public/client/src/main/index.js
  yarn.lock
Labels: client

#521 client: Add banner to survey for teachers
  packages/public/client/package.json
  packages/public/client/src/feature-prototypes/index.ts
  packages/public/client/src/feature-prototypes/teacher-survey-banner.ts
Labels: client, hacktoberfest-accepted

#522 New Campaign: Teacher survey banner
  packages/public/client/src/feature-prototypes/teacher-survey-banner.ts
  packages/public/client/src/modules/analytics.ts
Labels: client, hacktoberfest-accepted

#523 client: Fix bug in simpleanalytics for sending events
  packages/public/client/src/modules/analytics.ts
Labels: bug, client

#524 client-teacher-survey: Fix logging of clicked event
  packages/public/client/src/feature-prototypes/teacher-survey-banner.ts
Labels: bug, client
