Repository serlo/serlo.org-legacy, pull requests merged in 2020-12, with the labels that each got.

#547 server: Remove unused module CacheInvalidator
  packages/public/server/composer.json
  packages/public/server/src/config/application.config.php
  packages/public/server/src/module/CacheInvalidator/config/module.config.php
  packages/public/server/src/module/CacheInvalidator/src/Factory/CacheListenerFactory.php
  packages/public/server/src/module/CacheInvalidator/src/Factory/CacheOptionsFactory.php
  packages/public/server/src/module/CacheInvalidator/src/Factory/InvalidatorManagerFactory.php
  packages/public/server/src/module/CacheInvalidator/src/Factory/NavigationStorageInvalidatorFactory.php
  packages/public/server/src/module/CacheInvalidator/src/Factory/RepositoryStorageInvalidatorFactory.php
  packages/public/server/src/module/CacheInvalidator/src/Factory/StrokerStorageInvalidatorFactory.php
  packages/public/server/src/module/CacheInvalidator/src/Factory/TaxonomyStorageInvalidatorFactory.php
  packages/public/server/src/module/CacheInvalidator/src/Invalidator/InvalidatorInterface.php
  packages/public/server/src/module/CacheInvalidator/src/Invalidator/InvalidatorManager.php
  packages/public/server/src/module/CacheInvalidator/src/Invalidator/NavigationStorageInvalidator.php
  packages/public/server/src/module/CacheInvalidator/src/Invalidator/RepositoryStorageInvalidator.php
  packages/public/server/src/module/CacheInvalidator/src/Invalidator/StrokerStorageInvalidator.php
  packages/public/server/src/module/CacheInvalidator/src/Invalidator/TaxonomyStorageInvalidator.php
  packages/public/server/src/module/CacheInvalidator/src/Listener/CacheListener.php
  packages/public/server/src/module/CacheInvalidator/src/Module.php
  packages/public/server/src/module/CacheInvalidator/src/Options/CacheOptions.php
Labels: refactoring, server

#555 server-alias: Remove unnused code in view helper
  packages/public/server/src/module/Alias/src/Factory/AliasHelperFactory.php
  packages/public/server/src/module/Alias/src/Factory/UrlHelperFactory.php
  packages/public/server/src/module/Alias/src/View/Helper/AliasHelper.php
  packages/public/server/src/module/Alias/src/View/Helper/Url.php
Labels: refactoring, server

#556 server: Remove unused slugify() in AliasManager
  packages/public/server/src/module/Alias/src/AliasManager.php
Labels: server

#564 server: handle router routes correctly when resolving alias
  packages/public/server/src/module/Alias/src/AliasManager.php
  packages/public/server/src/module/Alias/src/AliasManagerInterface.php
  packages/public/server/src/module/Alias/src/Controller/AliasController.php
  packages/public/server/src/module/Alias/src/Factory/AliasControllerFactory.php
  packages/public/server/src/module/Alias/src/Factory/AliasManagerFactory.php
  packages/public/server/src/module/Api/src/ApiManager.php
  packages/public/server/src/module/Api/src/Controller/ApiController.php
Labels: server

#566 Update dependencies
  packages/private/cloudflare/index.ts
  packages/private/edtr-io-storybook/package.json
  packages/private/edtr-io/package.json
  packages/private/edtr-io/src/plugins/deprecated/index.tsx
  packages/private/edtr-io/src/plugins/error/index.tsx
  packages/private/edtr-io/src/plugins/types/text-exercise-group.tsx
  packages/private/i18n/package.json
  packages/private/legacy-editor-to-editor/package.json
  packages/private/markdown/src/extensions/html_strip.js
  packages/private/markdown/src/extensions/latex.js
  packages/public/client/package.json
  packages/public/client/src/editor/editor/index.tsx
  packages/public/client/src/legacy-editor/codemirror/addon/search/searchcursor.js
  packages/public/client/src/legacy-editor/codemirror/codemirror.js
  packages/public/editor-renderer/package.json
  packages/public/legacy-editor-renderer/package.json
  packages/public/notifications-job/package.json
  scripts/mysql-import-anonymous-data.ts
  yarn.lock
Labels: client, editor-renderer, legacy-editor-renderer, notifications-job, private

#568 Node v14
  .github/workflows/images.yml
  .github/workflows/js.yml
  .github/workflows/packages.yml
  README.md
  package.json
  packages/migrations/Dockerfile
  packages/public/editor-renderer/Dockerfile
  packages/public/editor-renderer/package.json
  packages/public/legacy-editor-renderer/Dockerfile
  packages/public/legacy-editor-renderer/package.json
  packages/public/notifications-job/Dockerfile
  packages/public/notifications-job/package.json
  scripts/license-headers.ts
  yarn.lock
Labels: ci, editor-renderer, legacy-editor-renderer, notifications-job, server-migrate

#569 Update shivammathur/setup-php
  .github/workflows/php.yml
Labels: ci
