Repository serlo/serlo.org-legacy, pull requests merged in 2020-03, with the labels that each got.

#325 server: Wrap lines in diff view (#103)
  packages/public/client/src/main/modules/diff/overrides.css
Labels: client

#335 server: Update donation page (#fixes 332)
  packages/public/server/src/module/Ui/templates/static/spenden.phtml
Labels: server

#340 Changes to solution type
  packages/private/edtr-io-storybook/.storybook/config.js
  packages/private/edtr-io/src/plugins/exercise.tsx
  packages/private/edtr-io/src/plugins/helpers/hovering-overlay.tsx
  packages/private/edtr-io/src/plugins/helpers/inline-input.tsx
  packages/private/edtr-io/src/plugins/helpers/inline-settings-input.tsx
  packages/private/edtr-io/src/plugins/helpers/inline-settings.tsx
  packages/private/edtr-io/src/plugins/helpers/semantic-section.tsx
  packages/private/edtr-io/src/plugins/solution.tsx
  packages/private/edtr-io/src/plugins/types/text-exercise-group.tsx
Labels: private

#287 Recycle bin: filter by language
  packages/public/server/src/module/Uuid/config/module.config.php
  packages/public/server/src/module/Uuid/src/Uuid/Controller/UuidController.php
  packages/public/server/src/module/Uuid/src/Uuid/Manager/UuidManager.php
  packages/public/server/src/module/Uuid/src/Uuid/Manager/UuidManagerInterface.php
Labels: server

#342 Follow ups after moving legal documents to cloudflare
  packages/public/client/package.json
  packages/public/client/src/frontend/modules/consent-banner.ts
  packages/public/server/package.json
  packages/public/server/src/module/StaticPage/config/module.config.php
  packages/public/server/src/module/StaticPage/src/StaticPage/Controller/DatenschutzController.php
  packages/public/server/src/module/StaticPage/src/StaticPage/DatenschutzRevision.php
  packages/public/server/src/module/Ui/templates/static/beitrag.phtml
  packages/public/server/src/module/Ui/templates/static/de/datenschutz/archive.twig
  packages/public/server/src/module/Ui/templates/static/de/datenschutz/partials/header.twig
  packages/public/server/src/module/Ui/templates/static/de/datenschutz/revision-20181017.twig
  packages/public/server/src/module/Ui/templates/static/de/datenschutz/revision-20181201.twig
  packages/public/server/src/module/Ui/templates/static/de/datenschutz/revision-20200210.twig
  packages/public/server/src/module/Ui/templates/static/spenden.phtml
Labels: client, refactoring, server

#339 Highlight newbies in revision and discussion overview
  packages/public/client/src/frontend/styles/base/_typography.scss
  packages/public/server/src/module/Ui/templates/discussion/helper/default/discussion.twig
  packages/public/server/src/module/Ui/templates/entity/unrevised.twig
  packages/public/server/src/module/User/src/User/Factory/UserHelperFactory.php
  packages/public/server/src/module/User/src/User/View/Helper/UserHelper.php
Labels: client, server
