Repository serlo/serlo.org-legacy, pull requests merged in 2020-11, with the labels that each got.

#529 client: Remove teacher survey banner
  packages/public/client/package.json
  packages/public/client/src/feature-prototypes/index.ts
  packages/public/client/src/feature-prototypes/teacher-survey-banner.ts
  packages/public/client/src/modules/analytics.ts
Labels: client

#500 API: add support for threads
  packages/public/server/src/module/Api/config/module.config.php
  packages/public/server/src/module/Api/src/ApiManager.php
  packages/public/server/src/module/Api/src/Controller/ApiController.php
  packages/public/server/src/module/Api/src/Factory/ApiControllerFactory.php
Labels: hacktoberfest-accepted, server

#536 server: Handle "no parent" in events 'taxonomy/term/parent/change'
  packages/public/server/src/module/Api/src/Manager/NotificationApiManager.php
Labels: server

#538 server: Add "objectId" to /api/event/:id
  packages/public/server/src/module/Api/src/Manager/NotificationApiManager.php
Labels: server

#539 Update dependencies
  packages/private/dev-tools/package.json
  yarn.lock
Labels: private

#542 edtr-io: enable MathJax for tables
  packages/private/edtr-io/src/plugins/table.tsx
  packages/private/mathjax/package.json
  packages/private/mathjax/src/index.ts
  packages/public/client/package.json
  packages/public/client/src/legacy-editor/index.js
  packages/public/client/src/legacy-editor/legacy-content/index.ts
  packages/public/editor-renderer/package.json
Labels: client, editor-renderer, private

#545 server: Remove old and redundant serlo header
  packages/public/server/src/module/Ads/src/Manager/AdsManager.php
  packages/public/server/src/module/Cache/config/module.config.php
  packages/public/server/src/module/CacheInvalidator/config/module.config.php
  packages/public/server/src/module/Common/config/module.config.php
  packages/public/server/src/module/Entity/src/Controller/RepositoryController.php
  packages/public/server/src/module/Normalizer/config/module.config.php
  packages/public/server/src/module/Page/src/Manager/PageManager.php
  packages/public/server/src/module/Type/config/module.config.php
Labels: refactoring, server

#546 Fixes for reworked alias system
  packages/public/server/package.json
  packages/public/server/src/module/Alias/src/AliasManager.php
  packages/public/server/src/module/Alias/src/AliasManagerInterface.php
  packages/public/server/src/module/Alias/src/Controller/AliasController.php
  packages/public/server/src/module/Common/src/Filter/Shortify.php
  packages/public/server/src/module/Common/src/Filter/Slugify.php
  packages/public/server/src/module/Term/src/Entity/TermEntity.php
Labels: server

#548 server-e2e: Change waitFor() to waitForTimeout()
  packages/public/server/__tests-e2e__/_utils.ts
  packages/public/server/__tests-e2e__/entities/static-pages.ts
Labels: refactoring, server

#551 Alias improvements
  packages/public/server/package.json
  packages/public/server/src/module/Alias/src/AliasManager.php
  packages/public/server/src/module/Alias/src/AliasManagerInterface.php
  packages/public/server/src/module/Alias/src/Controller/AliasController.php
  packages/public/server/src/module/Common/src/Factory/AbstractHelperFactory.php
  packages/public/server/src/module/Entity/src/Entity/Entity.php
  packages/public/server/src/module/Entity/src/Entity/EntityInterface.php
  packages/public/server/src/module/Entity/src/Entity/Revision.php
  packages/public/server/src/module/Normalizer/config/module.config.php
  packages/public/server/src/module/Normalizer/src/Adapter/AbstractAdapter.php
  packages/public/server/src/module/Normalizer/src/Adapter/AdapterPluginManager.php
  packages/public/server/src/module/Normalizer/src/Adapter/AttachmentAdapter.php
  packages/public/server/src/module/Normalizer/src/Adapter/CommentAdapter.php
  packages/public/server/src/module/Normalizer/src/Adapter/EntityAdapter.php
  packages/public/server/src/module/Normalizer/src/Adapter/EntityRevisionAdapter.php
  packages/public/server/src/module/Normalizer/src/Adapter/PageRepositoryAdapter.php
  packages/public/server/src/module/Normalizer/src/Adapter/PageRevisionAdapter.php
  packages/public/server/src/module/Normalizer/src/Adapter/PostAdapter.php
  packages/public/server/src/module/Normalizer/src/Adapter/TaxonomyTermAdapter.php
  packages/public/server/src/module/Normalizer/src/Adapter/UserAdapter.php
  packages/public/server/src/module/Normalizer/src/Entity/Normalized.php
  packages/public/server/src/module/Normalizer/src/Factory/NormalizeHelperFactory.php
  packages/public/server/src/module/Normalizer/src/Factory/NormalizerFactory.php
  packages/public/server/src/module/Normalizer/src/Factory/NormalizerStorageFactory.php
  packages/public/server/src/module/Normalizer/src/Normalizer.php
  packages/public/server/src/module/Normalizer/src/NormalizerAwareTrait.php
  packages/public/server/src/module/Normalizer/src/View/Helper/Normalize.php
  packages/public/server/src/module/Ui/src/Module.php
Labels: server

#552 server: move context from Normalizer into Alias module
  packages/public/server/package.json
  packages/public/server/src/module/Alias/src/AliasManager.php
  packages/public/server/src/module/Normalizer/src/Adapter/AbstractAdapter.php
  packages/public/server/src/module/Normalizer/src/Adapter/AttachmentAdapter.php
  packages/public/server/src/module/Normalizer/src/Adapter/CommentAdapter.php
  packages/public/server/src/module/Normalizer/src/Adapter/EntityAdapter.php
  packages/public/server/src/module/Normalizer/src/Adapter/EntityRevisionAdapter.php
  packages/public/server/src/module/Normalizer/src/Adapter/PageRepositoryAdapter.php
  packages/public/server/src/module/Normalizer/src/Adapter/PageRevisionAdapter.php
  packages/public/server/src/module/Normalizer/src/Adapter/PostAdapter.php
  packages/public/server/src/module/Normalizer/src/Adapter/TaxonomyTermAdapter.php
  packages/public/server/src/module/Normalizer/src/Adapter/UserAdapter.php
  packages/public/server/src/module/Normalizer/src/Entity/Metadata.php
  packages/public/server/src/module/Normalizer/src/Entity/MetadataInterface.php
  packages/public/server/src/module/Normalizer/src/Normalizer.php
Labels: server
