Repository serlo/serlo.org-legacy, pull requests merged in 2020-01, with the labels that each got.

#177 avoid react warning about html mismatch
  packages/public/frontend/pages/__editor.tsx
Labels: frontend

#165 update edtr to 0.13.0
  .github/workflows/images.yml
  .github/workflows/packages.yml
  packages/private/edtr-io/package.json
  packages/private/edtr-io/src/deserialize.ts
  packages/private/edtr-io/src/editor.tsx
  packages/private/edtr-io/src/plugins.ts
  packages/private/edtr-io/src/plugins/error/index.tsx
  packages/private/edtr-io/src/plugins/injection.tsx
  packages/private/edtr-io/src/plugins/layout/editor.tsx
  packages/private/edtr-io/src/plugins/layout/index.ts
  packages/private/edtr-io/src/plugins/table.tsx
  packages/private/edtr-io/src/plugins/types/applet.tsx
  packages/private/edtr-io/src/plugins/types/article.tsx
  packages/private/edtr-io/src/plugins/types/common.tsx
  packages/private/edtr-io/src/plugins/types/course-page.tsx
  packages/private/edtr-io/src/plugins/types/course.tsx
  packages/private/edtr-io/src/plugins/types/event.tsx
  packages/private/edtr-io/src/plugins/types/helpers/settings.tsx
  packages/private/edtr-io/src/plugins/types/math-puzzle.tsx
  packages/private/edtr-io/src/plugins/types/page.tsx
  packages/private/edtr-io/src/plugins/types/text-exercise-group.tsx
  packages/private/edtr-io/src/plugins/types/text-exercise.tsx
  packages/private/edtr-io/src/plugins/types/text-hint.tsx
  packages/private/edtr-io/src/plugins/types/text-solution.tsx
  packages/private/edtr-io/src/plugins/types/user.tsx
  packages/private/edtr-io/src/plugins/types/video.tsx
  packages/private/edtr-io/src/renderer.tsx
  packages/private/legacy-editor-to-editor/__tests-ssr__/splishToEdtr/convertSlate.tsx
  packages/public/client/package.json
  packages/public/editor-renderer/package.json
  packages/public/editor-renderer/src/render.tsx
  packages/public/frontend/package.json
  packages/public/frontend/src/edtr-io/deserialize.ts
  packages/public/frontend/src/edtr-io/editor.tsx
  packages/public/frontend/src/edtr-io/plugins.ts
  packages/public/frontend/src/edtr-io/plugins/error/index.tsx
  packages/public/frontend/src/edtr-io/plugins/injection.tsx
  packages/public/frontend/src/edtr-io/plugins/layout/editor.tsx
  packages/public/frontend/src/edtr-io/plugins/layout/index.ts
  packages/public/frontend/src/edtr-io/plugins/table.tsx
  packages/public/frontend/src/edtr-io/plugins/types/applet.tsx
  packages/public/frontend/src/edtr-io/plugins/types/article.tsx
  packages/public/frontend/src/edtr-io/plugins/types/common.tsx
  packages/public/frontend/src/edtr-io/plugins/types/course-page.tsx
  packages/public/frontend/src/edtr-io/plugins/types/course.tsx
  packages/public/frontend/src/edtr-io/plugins/types/event.tsx
  packages/public/frontend/src/edtr-io/plugins/types/helpers/settings.tsx
  packages/public/frontend/src/edtr-io/plugins/types/math-puzzle.tsx
  packages/public/frontend/src/edtr-io/plugins/types/page.tsx
  packages/public/frontend/src/edtr-io/plugins/types/text-exercise-group.tsx
  packages/public/frontend/src/edtr-io/plugins/types/text-exercise.tsx
  packages/public/frontend/src/edtr-io/plugins/types/text-hint.tsx
  packages/public/frontend/src/edtr-io/plugins/types/text-solution.tsx
  packages/public/frontend/src/edtr-io/plugins/types/user.tsx
  packages/public/frontend/src/edtr-io/plugins/types/video.tsx
  packages/public/frontend/src/edtr-io/renderer.tsx
  packages/public/server/package.json
  packages/public/server/src/config/autoload/global.php
  yarn.lock
Labels: ci, client, editor-renderer, private, server

#186 hotfix: use highlightPlugin
  jest.config-ssr.js
  packages/private/edtr-io/src/plugins.ts
  yarn.lock
Labels: private

#174 generate id per component instance
  packages/public/frontend/package.json
  packages/public/frontend/pages/_document.js
  packages/public/frontend/patch/next/dist/client/index.js
  packages/public/frontend/patch/next/dist/client/index.tsx
  packages/public/server/package.json
  yarn.lock
Labels: frontend, server

#191 server: Add scope=row for <th> tags in rows
  packages/public/server/src/module/Ui/templates/entity/repository/history.twig
  packages/public/server/src/module/Ui/templates/entity/unrevised.twig
Labels: server

#164 server: Add helper links for reviewing
  packages/public/server/src/module/Entity/config/module.config.php
  packages/public/server/src/module/Entity/src/Entity/Controller/EntityController.php
  packages/public/server/src/module/Entity/src/Entity/Factory/EntityControllerFactory.php
  packages/public/server/src/module/Ui/templates/entity/unrevised.twig
Labels: server

#161 catch failing ajax requests
  packages/public/client/src/main/modules/donation-banner.tsx
Labels: client

#198 fixing incorrect minifier
  packages/public/frontend/next.config.js
Labels: frontend

#195 make automatic checkout for reviewers explicit and opt-in
  docker-compose.yml
  packages/private/edtr-io-storybook/__stories__/types.tsx
  packages/private/edtr-io/src/editor.tsx
  packages/private/edtr-io/src/plugins/types/common.tsx
  packages/public/client/src/main/index.js
  packages/public/frontend/pages/__editor.tsx
  packages/public/frontend/src/edtr-io/editor.tsx
  packages/public/frontend/src/edtr-io/plugins/types/common.tsx
  packages/public/server/src/module/Entity/src/Entity/Controller/RepositoryController.php
  packages/public/server/src/module/Ui/templates/entity/repository/update-revision.twig
Labels: client, frontend, private, server

#175 fixing some errors in footer component
  packages/public/frontend/package.json
  packages/public/frontend/pages/__breadcrumbs.tsx.tmp
  packages/public/frontend/pages/__edtr-io.tsx.tmp
  packages/public/frontend/pages/__footer.tsx
  packages/public/frontend/pages/__minimal.tsx
  packages/public/frontend/src/assets.ts
  packages/public/frontend/src/button.component.tsx
  packages/public/frontend/src/footer/about.tsx
  packages/public/frontend/src/provider.component.tsx
Labels: frontend

#194 i18n improvements
  packages/public/server/src/config/instance/navigation/default.php
  packages/public/server/src/lang/athene2.mo
  packages/public/server/src/lang/athene2.po
  packages/public/server/src/lang/de_DE.UTF-8/LC_MESSAGES/athene2.mo
  packages/public/server/src/lang/de_DE.UTF-8/LC_MESSAGES/athene2.po
  packages/public/server/src/lang/en_US.UTF-8/LC_MESSAGES/athene2.mo
  packages/public/server/src/lang/en_US.UTF-8/LC_MESSAGES/athene2.po
  packages/public/server/src/lang/es_ES.UTF-8/LC_MESSAGES/athene2.mo
  packages/public/server/src/lang/es_ES.UTF-8/LC_MESSAGES/athene2.po
  packages/public/server/src/lang/fr_FR.UTF-8/LC_MESSAGES/athene2.mo
  packages/public/server/src/lang/fr_FR.UTF-8/LC_MESSAGES/athene2.po
  packages/public/server/src/lang/hi_IN.UTF-8/LC_MESSAGES/athene2.mo
  packages/public/server/src/lang/hi_IN.UTF-8/LC_MESSAGES/athene2.po
  packages/public/server/src/lang/ja_JP.UTF-8/LC_MESSAGES/athene2.mo
  packages/public/server/src/lang/ja_JP.UTF-8/LC_MESSAGES/athene2.po
  packages/public/server/src/lang/ta_IN.UTF-8/LC_MESSAGES/athene2.mo
  packages/public/server/src/lang/ta_IN.UTF-8/LC_MESSAGES/athene2.po
  packages/public/server/src/module/Ui/templates/ads/ads.twig
  packages/public/server/src/module/Ui/templates/discussion/partials/discuss-button.twig
  packages/public/server/src/module/Ui/templates/page/update.twig
  packages/public/server/src/module/Ui/templates/taxonomy/term/organize.twig
  packages/public/server/src/module/Ui/templates/taxonomy/term/templates/partials/actions.twig
  packages/public/server/src/module/Ui/templates/taxonomy/term/templates/partials/groups.twig
  packages/public/server/src/module/Ui/templates/taxonomy/term/templates/partials/subject-actions.twig
Labels: server

#221 server hotfix: Saving edits in on old editor (fixes #220)
  packages/public/server/src/module/Entity/src/Entity/Controller/RepositoryController.php
Labels: server

#219 allow page render as static html
  packages/public/frontend/package.json
  packages/public/frontend/pages/__legacy-content.tsx
  packages/public/frontend/pages/_document.js
  packages/public/server/package.json
Labels: frontend, server

#225 styled-components v5
  packages/private/edtr-io/package.json
  packages/public/client/package.json
  packages/public/editor-renderer/package.json
  packages/public/frontend/package.json
  yarn.lock
Labels: client, editor-renderer, frontend, private

#227 server: Fix validation of applet urls (fixes #196)
  packages/public/server/src/module/Entity/src/Entity/Form/AppletForm.php
  packages/public/server/src/module/Entity/test/EntityTest/Form/AppletFormTest.php
  packages/public/server/src/module/Renderer/src/Renderer/View/Helper/RendererHelper.php
  packages/public/server/src/module/Ui/templates/entity/view/applet.twig
Labels: server

#228 Edtr-io: Fix video state type
  packages/private/edtr-io/src/plugins/types/video.tsx
  packages/public/client/package.json
  packages/public/editor-renderer/package.json
  packages/public/frontend/package.json
  packages/public/frontend/src/edtr-io/plugins/types/video.tsx
  packages/public/server/package.json
Labels: client, editor-renderer, frontend, private, server

#230 fix broken injections
  packages/public/client/src/frontend/modules/injections.js
  packages/public/frontend/package.json
  packages/public/frontend/pages/__editor.tsx
  packages/public/frontend/patch/next/dist/client/index.js
  packages/public/frontend/patch/next/dist/client/index.tsx
  packages/public/frontend/src/edtr-io/plugins/injection.tsx
Labels: client, frontend

#234 remove donation campaign
  .github/labeler.yml
  packages/public/client/src/main/index.js
  packages/public/client/src/main/modules/donation-banner.tsx
  packages/public/donation-campaign/.gitignore
  packages/public/donation-campaign/__tests__/index.ts
  packages/public/donation-campaign/package.json
  packages/public/donation-campaign/src/index.ts
  packages/public/donation-campaign/src/kv.d.ts
  packages/public/donation-campaign/webpack.config.js
  packages/public/donation-campaign/wrangler.toml
  packages/public/frontend/pages/__donationbanner.tsx
  packages/public/frontend/src/donation-banner.component.tsx
  packages/public/server/src/config/definitions.local.php
  packages/public/server/src/module/FeatureFlags/config/module.config.php
  packages/public/server/src/module/Ui/templates/layout/partials/header.phtml
  packages/public/server/src/module/Ui/templates/layout/partials/popup.phtml
Labels: ci, client, frontend, server

#239 fix: clean uuid table after purge to avoid inconsistencies
  packages/public/server/src/module/Uuid/src/Uuid/Controller/UuidController.php
  packages/public/server/src/module/Uuid/src/Uuid/Manager/UuidManager.php
  packages/public/server/src/module/Uuid/src/Uuid/Manager/UuidManagerInterface.php
Labels: server

#271 chore: update @edtr-io
  packages/public/client/package.json
  packages/public/editor-renderer/package.json
  packages/public/frontend/package.json
  yarn.lock
Labels: client, editor-renderer, frontend

#273 Edtr.io 0.50.0
  packages/private/edtr-io-storybook/__stories__/fixtures.ts
  packages/private/edtr-io-storybook/__stories__/helpers.tsx
  packages/private/edtr-io-storybook/__stories__/plugins.ts
  packages/private/edtr-io-storybook/__stories__/types.ts
  packages/private/edtr-io/__tests__/deserialize/rows-to-solution-steps.ts
  packages/private/edtr-io/__tests__/deserialize/text-solution.ts
  packages/private/edtr-io/package.json
  packages/private/edtr-io/src/deserialize.ts
  packages/private/edtr-io/src/plugins.ts
  packages/private/edtr-io/src/plugins/important.tsx
  packages/private/edtr-io/src/plugins/layout/editor.tsx
  packages/private/edtr-io/src/plugins/solution-steps/editor.tsx
  packages/private/edtr-io/src/plugins/solution-steps/helper/add-buttons.tsx
  packages/private/edtr-io/src/plugins/solution-steps/helper/drag-content.ts
  packages/private/edtr-io/src/plugins/solution-steps/helper/find-pairs.ts
  packages/private/edtr-io/src/plugins/solution-steps/helper/guideline-texts.tsx
  packages/private/edtr-io/src/plugins/solution-steps/helper/has-focus-selector.tsx
  packages/private/edtr-io/src/plugins/solution-steps/helper/index.ts
  packages/private/edtr-io/src/plugins/solution-steps/helper/overlay.tsx
  packages/private/edtr-io/src/plugins/solution-steps/helper/render-controls.tsx
  packages/private/edtr-io/src/plugins/solution-steps/helper/styled-elements.tsx
  packages/private/edtr-io/src/plugins/solution-steps/index.ts
  packages/private/edtr-io/src/plugins/solution-steps/renderer.tsx
  packages/private/edtr-io/src/plugins/solution-steps/types.ts
  packages/private/edtr-io/src/plugins/solution.tsx
  packages/private/edtr-io/src/plugins/types/common.tsx
  packages/private/edtr-io/src/plugins/types/text-hint.tsx
  packages/private/edtr-io/src/plugins/types/text-solution.tsx
  packages/private/legacy-editor-to-editor/src/index.ts
  packages/private/legacy-editor-to-editor/src/splishToEdtr/index.ts
  packages/private/legacy-editor-to-editor/src/splishToEdtr/types.ts
  packages/public/client/package.json
  packages/public/editor-renderer/package.json
  packages/public/editor-renderer/src/render.ts
  packages/public/frontend/package.json
  packages/public/frontend/src/edtr-io/deserialize.ts
  packages/public/frontend/src/edtr-io/plugins.ts
  packages/public/frontend/src/edtr-io/plugins/important.tsx
  packages/public/frontend/src/edtr-io/plugins/layout/editor.tsx
  packages/public/frontend/src/edtr-io/plugins/solution-steps/editor.tsx
  packages/public/frontend/src/edtr-io/plugins/solution-steps/helper/add-buttons.tsx
  packages/public/frontend/src/edtr-io/plugins/solution-steps/helper/drag-content.ts
  packages/public/frontend/src/edtr-io/plugins/solution-steps/helper/find-pairs.ts
  packages/public/frontend/src/edtr-io/plugins/solution-steps/helper/guideline-texts.tsx
  packages/public/frontend/src/edtr-io/plugins/solution-steps/helper/has-focus-selector.tsx
  packages/public/frontend/src/edtr-io/plugins/solution-steps/helper/index.ts
  packages/public/frontend/src/edtr-io/plugins/solution-steps/helper/overlay.tsx
  packages/public/frontend/src/edtr-io/plugins/solution-steps/helper/render-controls.tsx
  packages/public/frontend/src/edtr-io/plugins/solution-steps/helper/styled-elements.tsx
  packages/public/frontend/src/edtr-io/plugins/solution-steps/index.ts
  packages/public/frontend/src/edtr-io/plugins/solution-steps/renderer.tsx
  packages/public/frontend/src/edtr-io/plugins/solution-steps/types.ts
  packages/public/frontend/src/edtr-io/plugins/solution.tsx
  packages/public/frontend/src/edtr-io/plugins/types/common.tsx
  packages/public/frontend/src/edtr-io/plugins/types/text-hint.tsx
  packages/public/frontend/src/edtr-io/plugins/types/text-solution.tsx
  packages/public/frontend/src/legacy/legacy-editor-to-editor/splishToEdtr/types.ts
  packages/public/server/package.json
  packages/public/server/src/config/autoload/global.php
  yarn.lock
Labels: client, editor-renderer, frontend, private, server

#244 server: Implement feedback of PRs #240 and #241
  README.md
  packages/public/server/src/module/Common/src/Common/Utils.php
  packages/public/server/src/module/Common/test/CommonTest/UtilsTest.php
  packages/public/server/src/module/Entity/src/Entity/Entity/Entity.php
  scripts/transform/concatenate-insert-commands.ts
  scripts/transform/ignore-insecure-password-warning.ts
  scripts/transform/index.ts
  scripts/transform/line-transformation.ts
  scripts/transform/string-transformation.ts
Labels: server

#278 server: add api route to get stats about converted entities
  packages/public/server/src/module/Entity/config/route.config.php
  packages/public/server/src/module/Entity/src/Entity/Controller/ApiController.php
Labels: server

#279 Add message queue behind feature flag
  docker-compose.yml
  jest.config.js
  packages/public/server/package.json
  packages/public/server/src/config/application.config.php
  packages/public/server/src/config/autoload/global.php
  packages/public/server/src/config/definitions.local.php
  packages/public/server/src/module/MessageQueue/Module.php
  packages/public/server/src/module/MessageQueue/config/module.config.php
  packages/public/server/src/module/MessageQueue/src/MessageQueue/Factory/ProducerFactory.php
  packages/public/server/src/module/MessageQueue/src/MessageQueue/Producer.php
  yarn.lock
Labels: server
