Repository serlo/serlo.org-legacy, pull requests merged in 2021-11, with the labels that each got.

#696 Add migration for moving physics to "subjects under construction"
  packages/migrations/dist/20211101205000-move-physics-to-subjects-under-construction.js
  packages/migrations/src/20211101205000-move-physics-to-subjects-under-construction.ts
Labels: server-migrate

#693 try node 16
  .github/workflows/images.yml
  .github/workflows/js.yml
  .github/workflows/packages.yml
  README.md
  package.json
  packages/migrations/Dockerfile
  packages/public/client/package.json
  packages/public/editor-renderer/Dockerfile
  packages/public/legacy-editor-renderer/Dockerfile
  packages/public/notifications-job/Dockerfile
  yarn.lock
Labels: client, editor-renderer, legacy-editor-renderer, notifications-job, ci, server-migrate

#694 noindex for legacy
  packages/public/server/src/module/Normalizer/src/View/Helper/Normalize.php
Labels: server

#697 edtr-io: remove react-virtual
  packages/private/edtr-io/package.json
  packages/private/edtr-io/src/plugins/types/text-exercise-group.tsx
  packages/private/edtr-io/src/plugins/types/text-solution.tsx
  yarn.lock
Labels: edtr-io, private, hacktoberfest-accepted
