Repository serlo/serlo.org-legacy, pull requests merged in 2021-08, with the labels that each got.

#656 edtr-io: use react-virtual for text-exercise-groups
  packages/private/edtr-io/package.json
  packages/private/edtr-io/src/plugins/types/text-exercise-group.tsx
  packages/public/client/package.json
  yarn.lock
Labels: client, private

#658 API: Remove cache instead of updating it
  packages/public/server/package.json
  packages/public/server/src/module/Api/src/Listener/LicenseManagerListener.php
  packages/public/server/src/module/Api/src/Listener/LinkServiceListener.php
  packages/public/server/src/module/Api/src/Listener/RepositoryManagerListener.php
  packages/public/server/src/module/Api/src/Listener/TaxonomyManagerListener.php
  packages/public/server/src/module/Api/src/Listener/UuidManagerListener.php
Labels: server

#661 equations-plugin: Add estimates sign
  packages/private/edtr-io/src/plugins/equations/editor.tsx
  packages/private/edtr-io/src/plugins/equations/sign.tsx
Labels: private

#663 Semantic articles
  package.json
  packages/private/edtr-io-storybook/__stories__/types.ts
  packages/private/edtr-io/src/deserialize.ts
  packages/private/edtr-io/src/plugins.tsx
  packages/private/edtr-io/src/plugins/article.tsx
  packages/private/edtr-io/src/plugins/exercise.tsx
  packages/private/edtr-io/src/plugins/helpers/inline-input.tsx
  packages/private/edtr-io/src/plugins/types/article.tsx
  packages/private/edtr-io/src/serialized-document.ts
  packages/private/i18n/resources/de/default.json
  packages/private/i18n/resources/default.json
  packages/private/i18n/resources/en/default.json
  packages/private/i18n/resources/es/default.json
  packages/private/i18n/resources/fr/default.json
  packages/private/i18n/resources/hi/default.json
  packages/private/i18n/resources/ta/default.json
  packages/private/legacy-editor-to-editor/src/index.ts
  packages/private/legacy-editor-to-editor/src/splishToEdtr/index.ts
  packages/private/legacy-editor-to-editor/src/splishToEdtr/types.ts
  packages/public/client/package.json
  packages/public/editor-renderer/package.json
  packages/public/server/package.json
  packages/public/server/src/config/autoload/global.php
  packages/public/server/src/lang/de_DE.UTF-8/LC_MESSAGES/default.mo
  packages/public/server/src/lang/de_DE.UTF-8/LC_MESSAGES/default.po
  packages/public/server/src/lang/en_US.UTF-8/LC_MESSAGES/default.mo
  packages/public/server/src/lang/en_US.UTF-8/LC_MESSAGES/default.po
  packages/public/server/src/lang/es_ES.UTF-8/LC_MESSAGES/default.mo
  packages/public/server/src/lang/es_ES.UTF-8/LC_MESSAGES/default.po
  packages/public/server/src/lang/fr_FR.UTF-8/LC_MESSAGES/default.mo
  packages/public/server/src/lang/fr_FR.UTF-8/LC_MESSAGES/default.po
  packages/public/server/src/lang/hi_IN.UTF-8/LC_MESSAGES/default.mo
  packages/public/server/src/lang/hi_IN.UTF-8/LC_MESSAGES/default.po
  packages/public/server/src/lang/ta_IN.UTF-8/LC_MESSAGES/default.mo
  packages/public/server/src/lang/ta_IN.UTF-8/LC_MESSAGES/default.po
  yarn.lock
Labels: server, private, client, editor-renderer

#665 Update CI
  .github/workflows/images.yml
  .github/workflows/js.yml
  .github/workflows/packages.yml
  .github/workflows/php.yml
  packages/private/edtr-io-storybook/__stories__/plugins/layout.ts
  yarn.lock
Labels: private, ci

#670 API: Remove subscriptions instead of setting it
  packages/public/server/src/module/Api/src/ApiManager.php
  packages/public/server/src/module/Api/src/Listener/SubscriptionManagerListener.php
Labels: server
