Repository serlo/serlo.org-legacy, pull requests merged in 2021-09, with the labels that each got.

#668 Improvements for article plugin
  packages/migrations/src/20201101234700-migrate-equations.ts
  packages/private/edtr-io-storybook/__stories__/helpers.tsx
  packages/private/edtr-io-storybook/__stories__/plugins/equations.ts
  packages/private/edtr-io-storybook/__stories__/plugins/error.ts
  packages/private/edtr-io-storybook/__stories__/plugins/layout.ts
  packages/private/edtr-io-storybook/__stories__/plugins/unsupported.ts
  packages/private/edtr-io/src/deserialize.ts
  packages/private/edtr-io/src/plugins/article.tsx
  packages/private/i18n/resources/de/default.json
  packages/private/i18n/resources/default.json
  packages/private/i18n/resources/en/default.json
  packages/private/i18n/resources/es/default.json
  packages/private/i18n/resources/fr/default.json
  packages/private/i18n/resources/hi/default.json
  packages/private/i18n/resources/ta/default.json
  packages/public/client/package.json
  packages/public/server/src/lang/de_DE.UTF-8/LC_MESSAGES/default.mo
  packages/public/server/src/lang/de_DE.UTF-8/LC_MESSAGES/default.po
  yarn.lock
Labels: server, private, client, server-migrate

#666 Refactoring of package deploy scripts
  .github/workflows/packages.yml
  package.json
  packages/private/cloudflare/index.ts
  packages/private/cloudflare/package.json
  packages/private/docker/index.ts
  packages/private/docker/package.json
  packages/private/gcloud/index.ts
  packages/public/client/package.json
  packages/public/client/scripts/deploy.ts
  packages/public/static-assets/scripts/deploy.ts
  yarn.lock
Labels: private, client, static-assets, ci

#671 edtr-io(article): fix deserialize
  packages/private/edtr-io/src/deserialize.ts
  packages/public/client/package.json
  packages/public/editor-renderer/package.json
Labels: private, client, editor-renderer

#673 docker: fix getTargetVersions
  packages/private/docker/index.ts
Labels: private

#674 cloudflare: Fix getTargetVersions()
  packages/private/cloudflare/index.ts
Labels: private

#675 Deploy
  packages/public/client/package.json
  packages/public/editor-renderer/package.json
  packages/public/server/package.json
  packages/public/server/src/config/autoload/global.php
Labels: server, client, editor-renderer

#677 Fix bug in chrome with equations plugin
  packages/private/edtr-io/src/plugins/equations/editor.tsx
  packages/public/client/package.json
Labels: private, client

#678 Improvements for equations plugin
  packages/private/edtr-io/src/plugins/equations/editor.tsx
  packages/private/edtr-io/src/plugins/equations/index.ts
  packages/private/edtr-io/src/plugins/equations/renderer.tsx
  packages/public/client/package.json
  packages/public/server/src/config/autoload/global.php
Labels: server, private, client, editor-renderer

#682 Downgrade client on server -> release 19.0.2
  packages/public/server/package.json
  packages/public/server/src/config/autoload/global.php
Labels: server

#686 yarn upgrade
  packages/migrations/yarn.lock
  yarn.lock
Labels: server-migrate
