Repository serlo/serlo.org-legacy, pull requests merged in 2021-05, with the labels that each got.

#622 fix: Add listener when order of entity children is changed
  packages/public/server/src/module/Api/src/ApiManager.php
  packages/public/server/src/module/Api/src/Listener/LinkServiceListener.php
  packages/public/server/src/module/Api/src/Service/AbstractGraphQLService.php
  packages/public/server/src/module/Link/src/Service/LinkService.php
Labels: server

#621 Fix error when entity children are ordered
  packages/public/server/src/module/Api/src/ApiManager.php
  packages/public/server/src/module/Api/src/Listener/LinkServiceListener.php
  packages/public/server/src/module/Api/src/Service/AbstractGraphQLService.php
  packages/public/server/src/module/Entity/src/Controller/LinkController.php
  packages/public/server/src/module/Link/src/Service/LinkService.php
Labels: bug, server

#630 Add roles to user listener
  packages/migrations/__tests__/20200220140328-migrate-solutions.ts
  packages/migrations/src/20201101234700-migrate-equations.ts
  packages/private/editor-helpers/package.json
  packages/private/edtr-io-storybook/__stories__/helpers.tsx
  packages/private/edtr-io-storybook/__stories__/plugins/equations.ts
  packages/private/edtr-io-storybook/__stories__/plugins/layout.ts
  packages/private/edtr-io/src/deserialize.ts
  packages/private/edtr-io/src/plugins/types/common.tsx
  packages/private/legacy-editor-to-editor/__tests-ssr__/normalizeMarkdown.ts
  packages/private/legacy-editor-to-editor/__tests-ssr__/split.ts
  packages/private/mathjax/src/index.ts
  packages/public/client/package.json
  packages/public/client/src/editor/content/init-element.tsx
  packages/public/client/src/editor/editor/index.tsx
  packages/public/client/src/legacy-editor/codemirror/codemirror.js
  packages/public/client/src/legacy-editor/codemirror/mode/markdown/markdown.js
  packages/public/client/src/legacy-editor/libs/markdown.js
  packages/public/client/src/legacy-editor/libs/quickdiff.js
  packages/public/client/src/main/index.js
  packages/public/client/src/main/modules/diff/diff.tsx
  packages/public/client/src/main/modules/diff/helper.ts
  packages/public/client/src/main/modules/injections.js
  packages/public/client/src/main/modules/sentry.ts
  packages/public/editor-renderer/package.json
  packages/public/legacy-editor-renderer/package.json
  packages/public/notifications-job/package.json
  packages/public/server/__tests-e2e__/mails.ts
  packages/public/server/package.json
  packages/public/server/src/module/Api/src/ApiManager.php
  packages/public/server/src/module/Instance/src/Repository/InstanceAwareRepository.php
  yarn.lock
Labels: client, editor-renderer, legacy-editor-renderer, notifications-job, private, server, server-migrate

#632 Fix discussion listeners
  packages/public/server/package.json
  packages/public/server/src/module/Discussion/src/DiscussionManager.php
Labels: server

#633 Fix link onChange listener
  packages/public/server/package.json
  packages/public/server/src/module/Api/src/Listener/LinkServiceListener.php
Labels: server

#635 Fix: revisions are not shown at /entity/unrevised
  packages/public/server/src/module/Entity/src/Controller/EntityController.php
  packages/public/server/src/module/Entity/src/Manager/EntityManager.php
  packages/public/server/src/module/Entity/src/Manager/EntityManagerInterface.php
Labels: bug, server

#636 Notification listeners
  packages/public/server/src/module/Api/src/Listener/NotificationManagerListener.php
  packages/public/server/src/module/Api/src/Manager/NotificationApiManager.php
  yarn.lock
Labels: server

#639 /entity/unrevised: Show button to show more revisions
  packages/private/i18n/resources/es/default.json
  packages/public/server/src/lang/de_DE.UTF-8/LC_MESSAGES/default.mo
  packages/public/server/src/lang/de_DE.UTF-8/LC_MESSAGES/default.po
  packages/public/server/src/lang/default.mo
  packages/public/server/src/lang/default.po
  packages/public/server/src/lang/en_US.UTF-8/LC_MESSAGES/default.mo
  packages/public/server/src/lang/en_US.UTF-8/LC_MESSAGES/default.po
  packages/public/server/src/lang/es_ES.UTF-8/LC_MESSAGES/default.mo
  packages/public/server/src/lang/es_ES.UTF-8/LC_MESSAGES/default.po
  packages/public/server/src/lang/fr_FR.UTF-8/LC_MESSAGES/default.mo
  packages/public/server/src/lang/fr_FR.UTF-8/LC_MESSAGES/default.po
  packages/public/server/src/lang/hi_IN.UTF-8/LC_MESSAGES/default.mo
  packages/public/server/src/lang/hi_IN.UTF-8/LC_MESSAGES/default.po
  packages/public/server/src/lang/ta_IN.UTF-8/LC_MESSAGES/default.mo
  packages/public/server/src/lang/ta_IN.UTF-8/LC_MESSAGES/default.po
  packages/public/server/src/module/Entity/src/Controller/EntityController.php
  packages/public/server/src/module/Entity/src/Manager/EntityManager.php
  packages/public/server/src/module/Entity/src/Manager/EntityManagerInterface.php
  packages/public/server/src/module/Ui/templates/entity/unrevised.twig
Labels: private, server

#641 Fix event listeners
  packages/public/server/package.json
  packages/public/server/src/module/Event/src/EventManager.php
Labels: server

#642 Fix alias of entity revisions
  packages/public/server/package.json
  packages/public/server/src/module/Alias/src/AliasManager.php
Labels: server
