Repository serlo/serlo.org-legacy, pull requests merged in 2021-04, with the labels that each got.

#611 Set X-From to legacy-serlo.org for AJAX requests
  packages/private/edtr-io/src/plugins/injection.tsx
  packages/public/client/package.json
  packages/public/client/src/editor/editor/index.tsx
Labels: client, private

#609 Remove route /entity/view/<id>/toc
  packages/public/server/src/module/Entity/config/module.config.php
  packages/public/server/src/module/Entity/config/route.config.php
  packages/public/server/src/module/Entity/src/Controller/TOCController.php
  packages/public/server/src/module/Entity/src/Listener/TOCControllerListener.php
  packages/public/server/src/module/Entity/src/Module.php
  packages/public/server/src/module/Ui/templates/entity/view/toc/course.twig
  packages/public/server/src/module/Ui/templates/entity/view/toc/default.twig
Labels: refactoring, server

#613 Fix redo button
  packages/private/edtr-io/package.json
  packages/private/edtr-io/src/plugins/types/common.tsx
  packages/private/legacy-editor-to-editor/package.json
  packages/public/editor-renderer/package.json
  yarn.lock
Labels: editor-renderer, private

#614 listener: Update parent for newly created uuid
  packages/public/server/src/module/Api/src/Listener/LinkServiceListener.php
Labels: server

#615 Release
  packages/public/client/package.json
  packages/public/editor-renderer/package.json
  packages/public/server/package.json
  packages/public/server/src/config/autoload/global.php
  yarn.lock
Labels: client, editor-renderer, server

#617 Remove link to Rocket Chat in /entity/unrevised
  packages/public/server/src/module/Entity/src/Controller/EntityController.php
Labels: server

#618 Add profile images to discussions
  packages/public/server/src/module/Ui/templates/discussion/discussions.twig
  packages/public/server/src/module/Ui/templates/discussion/helper/default/comment.twig
  packages/public/server/src/module/Ui/templates/discussion/helper/default/discussion.twig
Labels: server
