Repository serlo/serlo.org-legacy, pull requests merged in 2021-03, with the labels that each got.

#598 Simplify storeState() in edtr-io/src/editor.tsx
  packages/private/edtr-io/src/editor.tsx
Labels: private

#599 edtr-io: Make redo button always visible
  packages/private/edtr-io/src/plugins/types/common.tsx
Labels: private

#595 edtr-io: Add support for cohesive exercise groups
  packages/private/edtr-io/package.json
  packages/private/edtr-io/src/deserialize.ts
  packages/private/edtr-io/src/plugins/types/common.tsx
  packages/private/edtr-io/src/plugins/types/text-exercise-group.tsx
  packages/private/i18n/resources/de/default.json
  packages/private/i18n/resources/default.json
  packages/private/i18n/resources/en/default.json
  packages/private/i18n/resources/es/default.json
  packages/private/i18n/resources/fr/default.json
  packages/private/i18n/resources/hi/default.json
  packages/private/i18n/resources/ta/default.json
  packages/public/server/src/lang/de_DE.UTF-8/LC_MESSAGES/default.mo
  packages/public/server/src/lang/de_DE.UTF-8/LC_MESSAGES/default.po
  packages/public/server/src/lang/es_ES.UTF-8/LC_MESSAGES/default.mo
  packages/public/server/src/lang/es_ES.UTF-8/LC_MESSAGES/default.po
  packages/public/server/src/lang/fr_FR.UTF-8/LC_MESSAGES/default.mo
  packages/public/server/src/lang/fr_FR.UTF-8/LC_MESSAGES/default.po
  packages/public/server/src/lang/hi_IN.UTF-8/LC_MESSAGES/default.mo
  packages/public/server/src/lang/hi_IN.UTF-8/LC_MESSAGES/default.po
  packages/public/server/src/lang/ta_IN.UTF-8/LC_MESSAGES/default.mo
  packages/public/server/src/lang/ta_IN.UTF-8/LC_MESSAGES/default.po
  packages/public/server/src/module/Entity/src/Form/TextExerciseGroupForm.php
  yarn.lock
Labels: enhancement, private, server

#601 server: Readd API listeners
  packages/public/server/composer.json
  packages/public/server/composer.lock
  packages/public/server/src/config/application.config.php
  packages/public/server/src/module/Api/config/module.config.php
  packages/public/server/src/module/Api/src/ApiManager.php
  packages/public/server/src/module/Api/src/ApiManagerAwareTrait.php
  packages/public/server/src/module/Api/src/Factory/AbstractListenerFactory.php
  packages/public/server/src/module/Api/src/Factory/ApiManagerFactory.php
  packages/public/server/src/module/Api/src/Factory/DiscussionManagerListenerFactory.php
  packages/public/server/src/module/Api/src/Factory/GraphQLServiceFactory.php
  packages/public/server/src/module/Api/src/Factory/LicenseManagerListenerFactory.php
  packages/public/server/src/module/Api/src/Factory/LinkServiceListenerFactory.php
  packages/public/server/src/module/Api/src/Factory/NotificationApiManagerFactory.php
  packages/public/server/src/module/Api/src/Factory/NotificationManagerListenerFactory.php
  packages/public/server/src/module/Api/src/Factory/PageManagerListenerFactory.php
  packages/public/server/src/module/Api/src/Factory/RepositoryManagerListenerFactory.php
  packages/public/server/src/module/Api/src/Factory/SubscriptionManagerListenerFactory.php
  packages/public/server/src/module/Api/src/Factory/TaxonomyManagerListenerFactory.php
  packages/public/server/src/module/Api/src/Factory/UserManagerListenerFactory.php
  packages/public/server/src/module/Api/src/Factory/UuidManagerListenerFactory.php
  packages/public/server/src/module/Api/src/Listener/AbstractListener.php
  packages/public/server/src/module/Api/src/Listener/DiscussionManagerListener.php
  packages/public/server/src/module/Api/src/Listener/LicenseManagerListener.php
  packages/public/server/src/module/Api/src/Listener/LinkServiceListener.php
  packages/public/server/src/module/Api/src/Listener/NotificationManagerListener.php
  packages/public/server/src/module/Api/src/Listener/PageManagerListener.php
  packages/public/server/src/module/Api/src/Listener/RepositoryManagerListener.php
  packages/public/server/src/module/Api/src/Listener/SubscriptionManagerListener.php
  packages/public/server/src/module/Api/src/Listener/TaxonomyManagerListener.php
  packages/public/server/src/module/Api/src/Listener/UserManagerListener.php
  packages/public/server/src/module/Api/src/Listener/UuidManagerListener.php
  packages/public/server/src/module/Api/src/Manager/NotificationApiManager.php
  packages/public/server/src/module/Api/src/Module.php
  packages/public/server/src/module/Api/src/Service/GraphQLService.php
Labels: server

#602 server: downgrade lcobucci/jwt
  packages/public/server/composer.json
  packages/public/server/composer.lock
  packages/public/server/package.json
Labels: server

#604 server(api): deactivate notification listeners
  packages/public/server/package.json
  packages/public/server/src/module/Api/src/Listener/NotificationManagerListener.php
Labels: server

#606 update dependencies
  packages/public/client/package.json
  yarn.lock
Labels: client
